body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header{
    margin-top: 0;
    margin-bottom: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 166, 0);
    color: white
}

main{
    display: flex;
    height: 90vh;
}

.left{
    background-color: #1E3E62;

    flex: 1;
}

.right{
    flex: 4;
}

.add-task-bar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-btn{
    height: 70%;
    width: 20%;
    font-size: 20px;
    border-radius: 10px;
}

.project-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 10vh;
    background-color: #1E3E62;
    border: none;
    color: white;
}

.project-head:hover{
    background-color: #002b5d;
}

.project-card{
    height: 50vh;
    border: 1px solid black;
    width: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;
}

.project-create, .project-cancel{
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    margin-top:auto;
    margin-bottom: 20px;
}

.project-title-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-title{
    font-size: 20px;
    font-weight: 700;
}

.project-input{
    width: 90%;
}

.task-card{
    height: 70vh;
    gap: 10px;
    padding: 5px 5px 25px 5px;
    border: 1px solid black;
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    margin-left: 20px;
}

.project-box{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.project-description-box{
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.task-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.task-header{
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark background */
    z-index: 10; /* Lower than cards */
    display: none;
  }
  
.project-card, .task-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the card */
    background: white;
    padding: 20px;
    z-index: 20; /* Higher than overlay */
}

.project-task-box{
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.project-name:hover{
    background-color: #477ab5;
}

.project-name{
    padding: 15px;
    border-radius: 10px;
}